.client-image {
    display: block;
    width: 300px;
}

.dashes-gif {
    height: 80px;
}

.seperator {
    width: 100%;
    padding-left: 170px;
    padding-right: 170px;
}

.remove-decoration {
    text-decoration: none !important;
}

.nasser-text-gif {
    height: 200px;
}

.nasser-avatar-gif {
    height: 160px;
}

.gallery-image {
    max-width: 100%;
    padding: 5px;
}

.inactive {
    opacity: 30%;
}

@media only screen and (max-width: 600px) {
    .nasser-text-gif {
        height: 130px;
    }
    
    .nasser-avatar-gif {
        height: 100px;
    }
  }