body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hand-text {
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 4px;
}

.intro {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
